body {
    font-family: sans-serif;
    height: 100vh;
}

#bicicletas {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2rem;
    justify-content: center;
}

.bici {
    max-width: 35rem;
    text-align: center;
}

.bici img {
    max-height: 15rem;
}